header{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#0093E9 0%,skyblue);
    width:100%;
    height:45px;
    display:flex;
    justify-content: flex-end;
    align-items: center;


}
a{
    text-decoration: none;

}
/* header div{
    padding:10px; */
/* } */
div a{
    margin:10px;
}
div a:hover{
        background-color: rgba(63, 36, 128,0.5);
        border:1px soild red;
        border-radius:30%;

}
.inpt:focus{
    border:1px solid red;
    width:300px;
    border-radius: 40%;
}

