.row{
    width:60%;
    height:300px;
    background-color: aquamarine;
    border:2px solid blue;
    position:relative;
    left:20%;
    margin-top:20px;
}
.col{
    width:22%;
    height:250px;
    position: absolute;
    top:20px;
    
    
}
.col-1{
    background-color: green;
}
.col-2{
    background-color: indigo;
    left:23%;
}
.col-3{
    background-color: magenta;
    left:46%;
}
.col-4{
    background-color: orangered;
    left:69%
}
.fixed{
    width:22%;
    height:250px;
    position: absolute;
    top:20px; 
}
.fixed{
    width:100px;
    height:100px;
    background-color: teal;
    position:fixed;
    top:50%;
    left:85%;
}
.sticky{
    width:100px;
    height:100px;
    background-color: violet;
    position:sticky;
    top: 0.33%

}